<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        <Logger name="org.asynchttpclient.netty.handler.WebSocketHandler" level="error" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--        </Logger>-->
        <Logger name="com.qa.hobby" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <!-- Root logger referring to console appender -->
        <Root level="error" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>